<!-- Include Bootstrap CSS in your project, either by downloading it or using CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<div class="container mt-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/p3">Problem 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/p5">Problem 5</a>
      </li>
      <!-- Add other navigation links as needed -->
    </ul>
  </nav>

  <!-- Router Outlet to display the selected component -->
  <router-outlet></router-outlet>
</div>